<%- partial ('navbar.ejs') %>

<div class="container">
	<div class="row">
  	<div class="col-sm-6 col-md-4">
      <a href="/profile/edit" class="btn btn-default" role="button">Edit</a>
  		<div class="caption">
        <h3><%= user.firstName %> <%= user.lastName %></h3>
      </div>
			<img src=<%= user.image %> alt="<%= user.firstName %> <%= user.lastName %>'s profile picture" class="img-thumbnail">
		</div>
		<div class="col-sm-6 col-md-8">
		  <h3>Employee Information</h3>
		  <table class="table table-striped">
  			<thead>
  				<tr>
  					<th>Title</th>
  					<th>Salary</th>
  					<th>Address</th>
  					<th>Date of Birth</th>
  				</tr>
  			</thead>
  			<tbody>
  				<tr>
  					<th scope="row"><%= user.position %></th>
  					<td><span class="fa fa-usd"></span> <%= user.salary %></td>
  					<td><%= user.address %></td>
  					<td><%= user.dateOfBirth %></td>
  				</tr>
  			</tbody>
		  </table>
		</div>
	</div>
</div>